/*
    purple          #482683
    light-purple    #603BA3
    yellow          #ffdf43
    light-yellow    #fdefaf
    white           #fffdf6
    black           #2e2d2c
*/
body {
    margin: 0px;
    color: #2e2d2c;
    font-family: 'libel_suitregular';
    background-color: #482683;
    letter-spacing: 2px;
}

.navbar {
    transition: all ease 0.5s;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 130px;
    z-index: 999;
}

.navbar.min {
    background-color: #482683;
    box-shadow: 0px 7px 0px rgba(0,0,0,0.07);
    height: 50px;
}

.navbar .logo {
    padding: 0 10px;
    display: inline-block;
}

.navbar .logo a {
    height: 100%;
    width: 150px;
    display: inline-block;
    background: url('../img/logosml.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.navbar.min .logo a {
    width: 50px;
    background: url('../img/imago.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.navbar.min .logo:hover {
    background-color: #603BA3;
}

.navbar .logo {
    height: 100%;
}

.navbar .links {
    float: right;
    text-align: right;
    padding-right: 45px;
    padding-top: 15px;
    text-shadow: 4px 4px 25px #000;
}

.navbar.min .links {
    height: 100%;
    padding-top: 0px;
    padding-right: 15px;
    text-shadow: none;
}

.navbar .links .social {
    padding-bottom: 20px;
}

.navbar .links .self {
    margin-right: -10px;
}

.navbar.min .links .self {
    height: 100%;
    overflow: hidden;
    float: right;
}

.navbar .links .self a {
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffdf43;
    text-decoration: none;
    font-size: 25px;
}

.navbar.min .links .self a {
    display: inline-block;
    padding-top: 10px;
    height: 100%
}

.navbar.min .links .self a:hover {
    background-color: #603BA3;
}

.navbar .links .social img {
    height: 20px;
}

.navbar.min .links .social {
    padding-top: 15px;
    padding-left: 10px;
    float: right;
}

.call {
    position: fixed;
    width: 100%;
    height: 550px;
    z-index: -100;
}

.call .image {
    width: 100%;
    height: 100%;
    margin-top: 0;
}

.call .frame, .call .picture {
    width: 100%;
    height: 100%;
}

.call .picture {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -100;
}

.call .moto {
  font-family: 'finitaregular';
  color: #ffdf43;
  text-shadow: 4px 4px 25px #000, 2px 2px 5px rgba(0, 0, 0, 0.5);
  font-size: 6vw;
  position: absolute;
  text-align: left;
  width: 100%;
  top: 56%;
  transform: translateY(-50%);
  text-transform: uppercase;
  margin-left: 5%;
}

.call .cover {
    width: 100%
}

.re-cover {
    height: 550px;
}

.container {
    text-align: center;
    background-color: #ffdf43;
}

.ribbon {
  background-color: #482683;
  padding: 10px 0;
  text-align: center;
  position: relative;
  display: inline-flex;
}

.ribbon::after {
  content: "";
  position: absolute;
  top: 0;
  border-top: 170px solid #482683;
  border-right: 55px solid transparent;
  right: -55px;
}

.ribbon::before {
  content: "";
  position: absolute;
  top: 0;
  border-bottom: 170px solid #482683;
  border-left: 55px solid transparent;
  left: -55px;
}

.ribbon .circle {
  border: 10px solid #ffdf43;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  margin: 0 30px;
  display: inline-block;
  color: #ffdf43;
  text-align: center;
}

.circle .number {
  display: block;
  font-size: 68px;
  margin-top: 10px;
}

.circle .text {
  font-size: 40px;
  margin-top: -17px;
  display: block;
}

.circle .text.small {
  font-size: 20px;
  padding-top: 2px;
  line-height: 1em;
}

#contact h3 {
    background-image: url("../img/baquetes.png");
}

#about h3 {
    background-image: url("../img/baqueta.png");
}

#contact .content {
    padding-bottom: 20px;
}

#contact h3, #about h3 {
    background-repeat: no-repeat;
    background-size: 200px;
    background-position-y: center;
    background-position-x: 0;
    cursor: pointer;
}

#contact h3:hover, #about h3:hover {
    background-color: #fdefaf;
    transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
}

#contact h3, #about h3 {
    margin: 0;
    font-size: 60px;
    padding: 10px;
}

#about p {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

#about .content {
    display: block;
    position: relative;
    z-index: 1;
}

#about .content::before {
    content: "";
    background: url('../img/imago.png');
    opacity: 0.3;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#contact form {
    display: inline-block;
    color: #482683;
    font-size: 20px;
}

#contact form .row {
    text-align: right;
}

#contact form input[type=submit]{
    border: none;
    font-size: 20px;
    font-family: 'libel_suitregular';
    letter-spacing: 2px;
    color: #fffdf6;
    background: #482683;
    cursor: pointer;
    padding: 10px 30px;
    display: inline-block;
    margin-right: 10px;
}

#contact form input[type=submit]:hover {
    background: #603BA3
}

#contact .left, #contact .right {
    padding: 0 10px;
    display: table-cell;
    text-align: left;
}

#contact label, #contact input, #contact textarea {
    display: block;
}

#contact .left input, #contact .right textarea {
    width: 260px;
    border: 2px solid #482683;
    margin-bottom: 10px;
    padding: 5px;
    background: none;
}

#contact .right textarea {
    height: 138px;
}

#contact input:focus, #contact textarea:focus {
    border: 2px solid #603BA3;
    box-shadow: 0px 0px 2px #603BA3;
    outline: none;
}

label[for=#name]:focus {
    color: #ffdf43;
}

.year {
    position: relative;
    overflow: hidden;
}

.year .triangle, .year .triangle-shadow {
    width: 0;
    height: 0;
    border-top: 1650px solid #482683;
    border-right: 385px solid transparent;
    left: 0px;
    position: absolute;
    right: 0;
    cursor: pointer;
    z-index: 700;
}

.year .triangle-shadow {
    border-top: 1650px solid rgba(0, 0, 0, 0.07);
    border-right: 393px solid transparent;
    z-index: 690;
}

.year .triangle:hover, .collapsed.triangle.mouseover {
    border-top: 1650px solid #603BA3;
    transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
}

.year .text {
    position: absolute;
    text-align: center;
    left: 40px;
    top: 20px;
    margin: 0;
    z-index: 800;
    cursor: pointer;
}

.year .text h2, .year .text h3 {
    margin: 0;
    line-height: 1em;
}

.year .text h2 {
    color: #fffdf6;
    font-size: 165px;
}

.year .text h3 {
    color: #ffdf43;
    font-size: 65px;
}

.year .cover {
    width: 100%;
    height: 200px;
    margin-left: 200px;
    background-color: #482683;
    cursor: pointer;
}

.year .cover img {
    width: 100%;
    margin-top: -33%;
}

.year .cover img:hover, .year .cover.mouseover img {
    opacity: 0.5;
    transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
}

.timeline {
    background-color: #ffdf43;
}

.timeline, .bolos {
    padding: 0px;
    margin: 0px;
}

.bolos {
    list-style: none;
    min-height: 275px;
}

.bolos .bolo > * {
  padding-left: 430px;

}

.timeline h3 {
    display: inline-block;
}

.bolo h3 {
    cursor: pointer;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
    font-size: 40px;
}

.bolo h3 span {
    max-width: 635px;
    display: inline-block;
}

.bolo h3:hover {
    background-color: #fdefaf;
    transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
}

.bolo.expanded h3 {
    background-color: #482683;
    color: #fffdf6;
}

.bolo.expanded h3:hover {
    background-color: #603BA3;
}

.content {
    background-color: #fffdf6;
    padding-top: 10px;
}

.timeline h4, #about h4 {
    color: #999;
    display: inline-block;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
}

.content p {
    max-width: 635px;
	margin: 0 4%;
    font-size: 20px;
}

.bolo .content p {
	margin-left: 0;
}

.content h4, .content p, .content {
    padding-bottom: 20px;
}

.content .thumbnails {
    width: 670px;
}

.content .thumbnail {
    cursor: pointer;
    width: 190px;
    height: 160px;
    overflow: hidden;
    display: inline-block;
    margin-right: 32px;
}

.thumbnail img {
    max-height: 160px;
}

#carousel {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.84);
    top: 0;
    left: 0;
    z-index: 999;
}

#carousel>li {
    text-align: center;
}

#carousel .frame{
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
}

#carousel .picture {
    position: relative;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

#carousel .picture img {
    visibility: hidden;
    max-width: 1000px;
    max-height: 600px;
}

#carousel>li .title {
    color: #fffdf6;
    font-size: 22px;
    background-color: #603BA3;
    margin-top: -5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#carousel .controls {
    cursor: pointer;
    color: #fff;
    font-size: 2em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
}

#carousel .controls.prev {
    left: 0.5em;
}

#carousel .controls.next {
    right: 0.5em;
}

.footer {
    width: 100%;
    height: 20px;
    color: #ffdf43;
    text-align: center;
    background-color: #482683;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer .social {
    float: right;
    margin-right: 20px;
}

.footer img {
    height: 20px;
}

.bolo .content, #contact .content, #about .content{
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
}

.bolo.expanded .content, #contact.expanded .content, #about.expanded .content {
    max-height: 5000px;     /* Big enough value to make it work*/
    transition: max-height 0.25s ease-in;
}


/* Stuff in case we don't make the form work */
/*
#contact .content {
    font-size: 20px;
}

#contact .row {
    margin-left: auto;
    margin-right: auto;
    display: table;
}

#contact .left, #contact .right {
    font-size: 22px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

#contact h4 {
    color: #482683;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 0;
    margin-top: 15px;
    padding-bottom: 10px;
}
*/
