/*
    purple          #482683
    light-purple    #603BA3
    yellow          #ffdf43
    light-yellow    #fdefaf
    white           #fffdf6
    black           #2e2d2c
*/

body {
    margin: 0px;
    color: #2e2d2c;
    font-family: 'libel_suitregular';
    background-color: #ffdf43;
    letter-spacing: 2px;
}

.navbar {
    transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 130px;
    z-index: 999;
}

.navbar.min {
    background-color: #482683;
    box-shadow: 0px 7px 0px rgba(0,0,0,0.07);
    height: 50px;
}

.navbar .logo {
    padding: 0 10px;
    display: inline-block;
}

.navbar.min .logo:hover {
    background-color: #603BA3;
}

.navbar .logo, .navbar .logo img {
    height: 100%;
}

.navbar .links {
    float: right;
    text-align: right;
    padding-right: 45px;
    padding-top: 15px;
}

.navbar.min .links {
    height: 100%;
    padding-top: 0px;
}

.navbar .links .social {
    padding-bottom: 20px;
}

.navbar .links .self {
    margin-right: -10px;
}

.navbar.min .links .self {
    height: 100%;
    overflow: hidden;
}

.navbar .links .self a {
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffdf43;
    text-decoration: none;
    font-size: 25px;
}

.navbar.min .links .self a {
    display: inline-block;
    padding-top: 10px;
    height: 100%
}

.navbar.min .links .self a:hover {
    background-color: #603BA3;
}

.navbar .links .social img {
    height: 20px;
}

.navbar.min .links .social {
    display: none;
}

.call {
    position: fixed;
    width: 100%;
    z-index: -100;
}

.call .cover {
    width: 100%
}

.re-cover {
    height: 550px;
}

.container {
    text-align: center;
    background-color: #ffdf43;
}

.ribbon {
  background-color: #482683;
  padding: 10px 0;
  text-align: center;
  position: relative;
  display: inline-flex;
}

.ribbon::after {
  content: "";
  position: absolute;
  top: 0;
  border-top: 170px solid #482683;
  border-right: 55px solid transparent;
  right: -55px;
}

.ribbon::before {
  content: "";
  position: absolute;
  top: 0;
  border-bottom: 170px solid #482683;
  border-left: 55px solid transparent;
  left: -55px;
}

.ribbon .circle {
  border: 10px solid #ffdf43;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  margin: 0 30px;
  display: inline-block;
  color: #ffdf43;
  text-align: center;
}

.circle .number {
  display: block;
  font-size: 68px;
  margin-top: 10px;
}

.circle .text {
  font-size: 40px;
  margin-top: -17px;
  display: block;
}

.circle .text.small {
  font-size: 20px;
  padding-top: 2px;
  line-height: 1em;
}

#contact, #about {
    cursor: pointer;
      background-image: url("../img/baquetes.png");
      background-repeat: no-repeat;
      background-size: 200px;
      background-position-y: 0;
      background-position-x: 0;
}

#contact:hover, #about:hover {
    background-color: #fdefaf;
    transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
}

#contact h3, #about h3 {
    margin: 0;
    font-size: 60px;
    padding: 10px;
}

.year {
    position: relative;
    overflow: hidden;
}

.year .triangle, .year .triangle-shadow {
    width: 0;
    height: 0;
    border-top: 1650px solid #482683;
    border-right: 385px solid transparent;
    left: 0px;
    position: absolute;
    right: 0;
    cursor: pointer;
    z-index: 700;
}

.year .triangle-shadow {
    border-top: 1650px solid rgba(0, 0, 0, 0.07);
    border-right: 393px solid transparent;
    z-index: 690;
}

.year .triangle:hover, .collapsed.triangle.mouseover {
    border-top: 1650px solid #603BA3;
    transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
}

.year .text {
    position: absolute;
    left: 40px;
    top: 20px;
    margin: 0;
    z-index: 800;
    cursor: pointer;
}

.year .text h2, .year .text h3 {
    margin: 0;
    line-height: 1em;
}

.year .text h2 {
    color: #fffdf6;
    font-size: 165px;
}

.year .text h3 {
    color: #ffdf43;
    font-size: 65px;
}

.year .cover {
    width: 100%;
    height: 200px;
    margin-left: 200px;
    background-color: #482683;
    cursor: pointer;
}

.year .cover img {
    width: 100%;
    margin-top: -33%;
}

.year .cover img:hover, .year .cover.mouseover img {
    opacity: 0.5;
    transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
}

.timeline {
    background-color: #ffdf43;
}

.timeline, .bolos {
    padding: 0px;
    margin: 0px;
}

.bolos {
    list-style: none;
    min-height: 275px;
}

.bolos .bolo > * {
  padding-left: 400px;

}

.timeline h3, .timeline h4 {
    display: inline-block;
}

.timeline h4 {
    color: #999;
}

.bolo h3 {
    cursor: pointer;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
    font-size: 40px;
}

.bolo h3:hover {
    background-color: #fdefaf;
    transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
}

.bolo.expanded h3 {
    background-color: #482683;
    color: #fffdf6;
}

.bolo.expanded h3:hover {
    background-color: #603BA3;
}

.content {
    background-color: #fffdf6;
}

.thumbnail {
    width: 150px;
    height: 150px;
    overflow: hidden;
    display: inline-block;
}

.thumbnail img {
    max-height: 150px;
}

ul[rn-carousel] {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.84);
    top: 0;
    left: 0;
    z-index: 999;
}

ul[rn-carousel]>li {
    text-align: center;
}

ul[rn-carousel] .picture {
    display: inline-block;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

ul[rn-carousel] .picture img {
    visibility: hidden;
    max-width: 90%;
    max-height: 90%;
}

ul[rn-carousel] .controls {
    cursor: pointer;
    color: #fff;
    font-size: 2em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
}

ul[rn-carousel] .controls.prev {
    left: 0.5em;
}

ul[rn-carousel] .controls.next {
    right: 0.5em;
}

/* Verticaly align them */
ul[rn-carousel] .picture {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.footer {
    width: 100%;
    height: 20px;
    color: #ffdf43;
    text-align: center;
    background-color: #482683;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer .social {
    float: right;
    margin-right: 20px;
}

.footer img {
    height: 20px;
}
