<!DOCTYPE html>
<html ng-app="BeiriPage">
  <head>
    <title>Beirão Percussió</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <link rel="stylesheet" href="font/libelsuit.css" type="text/css" charset="utf-8" />
    <link href="css/angular-carousel.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-scroll/0.6.5/angular-scroll.min.js"></script>
    <script src="lib/angular-youtube-embed.js"></script>
    <script src="lib/angular-touch.min.js"></script>
    <script src="lib/angular-carousel.min.js"></script>
    <script src="lib/hotkeys.min.js"></script>
    <script src="beiripage.js"></script>
  </head>
  <body ng-controller="BeiriController as beiriCtrl">
    <div class="navbar" data-navscroll ng-class="{min: shrinkNav}">
      <div class="logo">
        <a href="#" ng-click="beiriCtrl.expand('none')"></a>
      </div>
      <span class="links">
        <div class="social">
          <a href="https://www.facebook.com/BeiraoPercussio" target="_blank"><img src="img/facebook.png" alt="facebook"/></a>
          <a href="https://instagram.com/beiraopercussio/" target="_blank"><img src="img/instagram.png" alt="instagram" /></a>
          <a href="https://www.youtube.com/percussiobeirao" target="_blank"><img src="img/youtube.png" alt="youtube" /></a>
          <a href="https://twitter.com/beiraopercussio" target="_blank"><img src="img/twitter.png" alt="twitter" /></a>
        </div>
        <div class="self">
          <a href="" ng-click="beiriCtrl.showCarousel()">Fotos</a>
          <a href="" ng-click="">Videos</a>
          <a href="" ng-click="beiriCtrl.expand('contact')">Contacte</a>
          <a href="" ng-click="beiriCtrl.expand('about')">Què és Beirão</a>
        </div>
      </span>
    </div>

    <div class="call">
      <span class="moto">Som ritme, som energia, som percussió.</span>
    </div>
    <div class="re-cover">
    </div>

    <div class="container">
      <div class="ribbon">
        <span class="circle">
          <span class="number">{{ totalGigs }}</span>
          <span class="text">bolos</span>
        </span>
        <span class="circle">
          <span class="number">{{ likes }}</span>
          <span class="text">fans</span>
        </span>
        <span class="circle">
          <span class="number">50</span>
          <span class="text small">baquetes trencades</span>
        </span>
      </div>
    </div>

    <div class="container contact" id="contact">
      <h3 ng-click="contactExpanded = !contactExpanded">El teu bolo</h3>
      <div class="content" ng-show="contactExpanded">
        <h4>Tu decideixes la data</h4>
        <form ng-click="beiriCtrl.contact(msg)">
          <textarea ng-model="msg"></textarea>
          <input type="submit" value="Enviar"></input>
        </form>
      </div>
    </div>

    <ul class="timeline">
      <div class="year row" ng-repeat="year in years" ng-mouseover="mouseover = true" ng-mouseleave="mouseover = false">
        <div class="triangle" ng-click="beiriCtrl.collapseYears(year.year); year.expanded = !year.expanded" ng-class="{mouseover: mouseover, collapsed: !year.expanded}">
        </div>
        <div class="triangle-shadow">
        </div>
        <div class="text" ng-click="beiriCtrl.collapseYears(year.year); year.expanded = !year.expanded" >
          <h2>{{ year.year }}</h2>
          <h3 ng-show="year.expanded">{{ year.ngigs }} bolos</h3>
        </div>
        <div class="cover" ng-hide="year.expanded" ng-click="beiriCtrl.collapseYears(year.year); year.expanded = !year.expanded" ng-class="{mouseover: mouseover}">
          <img ng-src="{{ year.coverpic }}" />
        </div>
        <ul class="bolos" ng-show="year.expanded">
          <li class="bolo" id="gig{{ gig.id }}"
              ng-repeat="gig in year.gigs"
              ng-class="{expanded: gig.expanded}">
            <h3 ng-click="beiriCtrl.collapseAll(gig.id); gig.expanded = !gig.expanded">{{ gig.title }}</h3>
            <div class="content" ng-if="gig.expanded">
              <h4>{{ gig.date }}</h4>
              <p>
                {{ gig.content.desc }}
              </p>
              <div class="thumbnails">
                <div class="thumbnail" ng-click="beiriCtrl.showCarousel(gig, $index)" ng-repeat="picture in gig.content.pictures.thumbnails | limitTo: 3">
                  <img ng-src="{{ picture }}" alt=""/>
                </div>
              </div>
              <youtube-video video-url="gig.content.youtube"></youtube-video>
            </div>
          </li>
        </ul>
      </div>
    </ul>
    <div class="container about" id="about">
      <h3 ng-click="aboutExpanded = !aboutExpanded">Què és Beirão</h3>
      <div class="content" ng-show="aboutExpanded">
        <h4>data creacio beirao</h4>
        <div class="content" ng-show="aboutExpanded">
          <p>
            Historia creacio de la banda.
          </p>
        </div>
      </div>
    </div>
    <div class="footer">
      <span class="social">
        <a href="https://www.facebook.com/BeiraoPercussio" target="_blank"><img src="img/facebook.png" alt="facebook"/></a>
        <a href="https://instagram.com/beiraopercussio/" target="_blank"><img src="img/instagram.png" alt="instagram" /></a>
        <a href="https://www.youtube.com/percussiobeirao" target="_blank"><img src="img/youtube.png" alt="youtube" /></a>
        <a href="https://twitter.com/beiraopercussio" target="_blank"><img src="img/twitter.png" alt="twitter" /></a>
      </span>
      Beirão Percussió | 2015 | Difusió Team
    </div>

    <ul class="image"
        ng-show="beiriCtrl.carouselVisible"
        ng-click="beiriCtrl.carouselVisible = false"
        rn-carousel-index="beiriCtrl.carouselIndex"
        rn-carousel rn-carousel-buffered>
      <span class="controls prev"
            ng-click="beiriCtrl.prevPicture(); $event.stopPropagation()"
            ng-show="beiriCtrl.carouselHasPrev()">
        <
      </span>
      <li ng-repeat="picture in beiriCtrl.carouselPictures">
        <div class="picture" ng-style="{'background-image': 'url(' + picture + ')'}" ng-click="beiriCtrl.log('clicked'); $event.stopPropagation()">
          <img ng-src="{{ picture }}" alt=""/>
        </div>
        <!-- <div class="title">
          Nom del bolo
        </div> -->
      </li>
      <span class="controls next"
            ng-click="beiriCtrl.nextPicture(); $event.stopPropagation()"
            ng-show="beiriCtrl.carouselHasNext()">
        >
      </span>
    </ul>
  </body>
</html>
