<!DOCTYPE html>
<html ng-app="BeiriPage">
  <head>
    <title>Beirao percussio</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
    <link rel="stylesheet" href="font/libelsuit.css" type="text/css" charset="utf-8" />
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-animate.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-scroll/0.6.5/angular-scroll.min.js"></script>
    <script src="lib/angular-youtube-embed.js"></script>
    <script src="beiripage.js"></script>
  </head>
  <body ng-controller="BeiriController as beiriCtrl">
    <div class="navbar">
      <div class="logo">
        <a href=""><img src="img/logo.png"/></a>
      </div>
      <span class="links">
        <div class="social">
          <a href="" ng-click="beiriCtrl.expand('pictures')"><img src="img/facebook.png" alt="facebook"/></a>
          <a href="" ng-click="beiriCtrl.expand('videos')"><img src="img/instagram.png" alt="instagram" /></a>
          <a href="" ng-click="beiriCtrl.expand('contact')"><img src="img/youtube.png" alt="youtube" /></a>
          <a href="" ng-click="beiriCtrl.expand('about')"><img src="img/twitter.png" alt="twitter" /></a>
        </div>
        <div class="self">
          <a href="" ng-click="beiriCtrl.expand('none')">Beirao</a>
          <a href="" ng-click="beiriCtrl.expand('pictures')">Fotos</a>
          <a href="" ng-click="beiriCtrl.expand('videos')">Videos</a>
          <a href="" ng-click="beiriCtrl.expand('contact')">Contacte</a>
          <a href="" ng-click="beiriCtrl.expand('about')">About</a>
        </div>
      </span>
    </div>

    <div class="cover"></div>

    <div class="container">
      <div class="ribbon">
        <span class="circle">
          <span class="number">200</span>
          <span class="text">bolos</span>
        </span>
        <span class="circle">
          <span class="number">1001</span>
          <span class="text">fans</span>
        </span>
        <span class="circle">
          <span class="number">50</span>
          <span class="text small">baquetes trencades</span>
        </span>
      </div>
    </div>

    <div class="container contact" id="contact">
      <h3 ng-click="contactExpanded = !contactExpanded">El teu bolo</h3>
      <div class="content" ng-show="contactExpanded">
        <h4>Tu decideixes la data</h4>
        <form ng-click="beiriCtrl.contact(msg)">
          <textarea ng-model="msg"></textarea>
          <input type="submit" value="Enviar"></input>
        </form>
      </div>
    </div>

    <ul class="timeline">
      <div class="year row" ng-repeat="year in years">
        <div class="triangle">
        </div>
        <h2>{{ year.year }}</h2>
        <ul class="bolos">
          <li class="bolo" id="gig{{ gig.id }}" ng-repeat="gig in year.gigs">
            <h3 ng-click="beiriCtrl.collapseAll(); gig.expanded = !gig.expanded">{{ gig.title }}</h3>
            <div class="content" ng-show="gig.expanded && gig.content">
              <h4>{{ gig.date }}</h4>
              <p>
                {{ gig.content.desc }}
              </p>
              <div class="thumbnail" ng-repeat="picture in gig.content.pictures">
                <img ng-src="{{ picture }}" alt="" />
              </div>
              <youtube-video video-url="gig.content.youtube"></youtube-video>
            </div>
          </li>
        </ul>
      </div>

      <li class="about" id="about">
        <h3 ng-click="aboutExpanded = !aboutExpanded">Sobre beirao</h3>
        <h4>data creacio beirao</h4>
        <div class="content" ng-show="aboutExpanded">
          <p>
            Historia creacio de la banda.
          </p>
        </div>
      </li>
    </ul>
    <div class="footer">
      <span class="social">
        <a href="" ng-click="beiriCtrl.expand('pictures')"><img src="img/facebook.png" alt="facebook"/></a>
        <a href="" ng-click="beiriCtrl.expand('videos')"><img src="img/instagram.png" alt="instagram" /></a>
        <a href="" ng-click="beiriCtrl.expand('contact')"><img src="img/youtube.png" alt="youtube" /></a>
        <a href="" ng-click="beiriCtrl.expand('about')"><img src="img/twitter.png" alt="twitter" /></a>
      </span>
      Beirão Percussió | 2015 | Difusió Team
    </div>
  </body>
</html>
