.timeline {
    list-style: none;
}

.timeline li:before {
    content: '#';
}

.timeline h3, .timeline h4 {
    display: inline-block;
}

.timeline h3 {
    cursor: pointer;
}

.timeline h4 {
    color: #999;
}

.thumbnail {
    width: 150px;
    height: 150px;
    overflow: hidden;
    display: inline-block;
}

.thumbnail img {
    max-height: 150px;
}
