@font-face {
    font-family: 'libel_suitregular';
    src: url('libelsuit-webfont.eot');
    src: url('libelsuit-webfont.eot?#iefix') format('embedded-opentype'),
         url('libelsuit-webfont.woff2') format('woff2'),
         url('libelsuit-webfont.woff') format('woff'),
         url('libelsuit-webfont.ttf') format('truetype'),
         url('libelsuit-webfont.svg#libel_suitregular') format('svg');
    font-weight: normal;
    font-style: normal;

}